{% extends 'main/TKD.html' %}
{% block css %}
<link rel="stylesheet" media="screen" href="{{vendor}}/lightgallery.js/dist/css/lightgallery.min.css"/>
{% endblock css %}
{% block content2 %}      
<div class="page-title-overlap bg-dark pt-4">
</div>
<div class="container">
  <div class="bg-light shadow rounded-3 px-4 py-3 mb-5">
    <div class="px-lg-3">
      <div class="row">
        <div class="col-lg-7 pe-lg-0 pt-lg-4">
          <div class="product-gallery">
            <div class="product-gallery-preview order-sm-2">
              <div class="product-gallery-preview-item active" id="first"><img class="image-zoom" src="/tkdproduct/{{productdetails.image}}" data-zoom="/tkdproduct/{{productdetails.image}}" alt="Product image">
                <div class="image-zoom-pane"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 pt-4 pt-lg-0">
          <div class="product-details ms-auto pb-3">
            <div class="position-relative me-n4 mb-3 mt-2">
            {% if productdetails.available %}
                {% if productdetails.stock != 0 %}
                <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product available</div>
                {% else %}
                <div class="product-badge product-not-available mt-n1"><i class="ci-security-close"></i>Out of stock</div>
                {% endif %}
            {% else %}
            <div class="product-badge product-not-available mt-n1"><i class="ci-security-close"></i>Out of stock</div>
            {% endif %}
            </div>
            <div class="d-block mb-2 pt-3">
              <span class="h6 text-muted"><small>Brand: </small>{{productdetails.brand}}</span>
              <h1 class="h2 fw-normal text-accent me-1">{{productdetails.name}}</h1>
            </div>
            <div class="d-flex flex-column align-items-start flex-sm-row justify-content-sm-evenly">
              <div class="d-flex flex-sm-column align-items-sm-center text-center w-sm-auto w-100">
                <p class="m-0 me-4">M.R.P.</p>
                <del class="text-muted fs-lg">₹{{productdetails.price}}</del>
              </div>
              <div class="d-flex flex-sm-column align-items-sm-center text-center w-sm-auto w-100">
                <p class="m-0 me-4">Price</p>
                <span class="h3 fw-normal text-accent">₹{{productdetails.price_save}}</span>
              </div>
              <div class="d-flex flex-sm-column align-items-sm-center text-center w-sm-auto w-100">
                <p class="m-0 me-4">You Save</p>
                <span class="fw-normal text-accent d-flex flex-row align-items-end flex-sm-column align-items-sm-center"><span>₹{{productdetails.your_price}}</span><small>({{productdetails.discount}}%)</small></span>
              </div>
            </div>
            <div class="w-100 text-center mb-2">Inclusive of all taxes</div>
            <div class="row">
              <div class="col-lg-6 mb-3">
                <a class="btn btn-danger d-block w-100" href="/useraddtocart/{{productdetails.id}}/{{userdeatails.id}}"><i class="fa-light fa-cart-arrow-down fa-fw fs-lg me-2 d-none d-lg-inline"></i><span>Add to Cart</span></a>
              </div>
              <div class="col-lg-6 mb-3">
                <a class="btn btn-warning d-block w-100" href="/userbuyproduct/{{productdetails.id}}"><span>Buy Now</span><i class="ci-arrow-right-circle fs-lg d-none d-lg-inline ms-2"></i></a>
              </div>
            </div>
            <div class="accordion mb-4" id="productPanels">
              <div class="accordion-item bg-white border rounded-3 shadow mb-2">
                <h3 class="accordion-header"><a class="accordion-button" href="#productInfo" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="productInfo"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product info</a></h3>
                <div class="accordion-collapse collapse show" id="productInfo" data-bs-parent="#productPanels">
                  <div class="accordion-body">
                    <h6 class="fs-sm mb-2">{{productdetails.description}}</h6>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-white border rounded-3 shadow">
                <h3 class="accordion-header"><a class="accordion-button collapsed" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="ci-percent text-muted fs-lg align-middle mt-n1 me-2"></i>Available Offers</a></h3>
                <div class="accordion-collapse collapse" id="shippingOptions" data-bs-parent="#productPanels">
                  <div class="accordion-body">
                    <ul class="fs-sm ps-4">
                      <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
                      <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
                      <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
                      <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-end justify-content-between p-1 flex-wrap">
            {% if productdetails.payondelivery %}
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{img}}/picture/payondelivery.png" style="height:45px;width:45px;" alt="Pay on Delivery">
                <p class="fs-xs m-0">Pay on Delivery</p>
              </div>
            {% endif %}
            {% if productdetails.replacement %}
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{img}}/picture/7daysreplacement.jpg" style="height:45px;width:45px;" alt="7 Days Replacement">
                <p class="fs-xs m-0">7 Days Replacement</p>
              </div>
            {% else %}              
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{img}}/picture/notreturnable.jpg" style="height:45px;width:45px;" alt="Not Returnable">
                <p class="fs-xs m-0">Not Returnable</p>
              </div>
            {% endif %}
            {% if productdetails.delivered %}
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{img}}/picture/expressdelivered.png" style="height:25px;width:45px;" alt="Express Delivered">
                <p class="fs-xs m-0">Express Delivered</p>
              </div>
            {% endif %}
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{img}}/picture/nocontactdelivery.jpg" style="height:45px;width:45px;" alt="No-Contact Delivery">
                <p class="fs-xs m-0">No-Contact Delivery</p>
              </div>
            {% if productdetails.warranty != 0 %}
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{img}}/picture/warranty.png" style="height:45px;width:45px;" alt="1 Year Warranty">
                <p class="fs-xs m-0">{{productdetails.warranty}} Year Warranty</p>
              </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>          
{% if userdeatails.Requirements.productdetaillistno != 0 %}
<section class="container pt-lg-3 mb-4 mb-sm-5">
  <h2 class="h3 text-center pb-4">You may also like</h2>
  <div class="tns-carousel tns-controls-static tns-controls-outside">
    <div class="tns-carousel-inner"data-carousel-options='{"items": 5, "controls": true, "nav": false, "autoHeight": true, "responsive": {"0":{"items":1},"450":{"items":2},"600":{"items":3},"800":{"items":4, "gutter": 20}, "1700":{"items":6, "gutter": 30}}}'>
      {% for i in userdeatails.Requirements.productdetaillist %}
      <div>
        <div class="card product-card shadow m-1">
          {% if i.sale %}
            <span class="badge bg-danger badge-shadow">Sale</span>
          {% endif %}
          <a class="card-img-top d-block overflow-hidden" href="/productdetails/{{i.id}}" target="_blank"><img src="/tkdproduct/{{i.image}}" alt="{{i.name}}"></a>
          <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{i.brand}}</a>
            <h3 class="product-title fs-sm"><a href="#">{{i.name}}</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price">
                <span class="text-accent">₹{{i.price_save}}</span>
                <!-- <del class="fs-sm text-muted">₹{{i.price}}</del> -->
              </div>
              <div class="star-rating">
                <i class="star-rating-icon ci-star-filled active"></i>
                <i class="star-rating-icon ci-star-filled active"></i>
                <i class="star-rating-icon ci-star-filled active"></i>
                <i class="star-rating-icon ci-star-half active"></i>
                <i class="star-rating-icon ci-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}          
{% if userdeatails.Requirements.productdetailtogetherlistno != 0 %}
<div class="container pt-lg-1 pb-5 mb-md-3">
  <div class="card card-body pt-5 shadow">
    <h2 class="h3 text-center pb-4">Cheaper together</h2>
    <div class="tns-carousel">
      <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;nav&quot;: true}">
      {% for i in userdeatails.Requirements.productdetailtogetherlist %}
      <div>
        <div class="row align-items-center">
          <div class="col-md-3 col-sm-5">
            <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;">
              <a class="card-img-top d-block overflow-hidden" href="/productdetails/{{i.productdetails1.id}}">
                <img src="/tkdproduct/{{i.productdetails1.image}}" alt="{{i.productdetails1.name}}">
              </a>
              <div class="card-body py-2">
                <span class="d-inline-block bg-secondary fs-ms rounded-1 py-1 px-2 mb-3">Your product</span>
                <h3 class="product-title fs-sm"><a href="/productdetails/{{i.productdetails1.id}}">{{i.productdetails1.name}}</a></h3>
                <div class="product-price text-accent">₹{{i.productdetails1.price_save}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-2 text-center">
            <div class="display-4 fw-light text-muted px-4">+</div>
          </div>
          <div class="col-md-3 col-sm-5">
            <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;">
              <a class="card-img-top d-block overflow-hidden" href="/productdetails/{{i.productdetails2.id}}">
                <img src="/tkdproduct/{{i.productdetails2.image}}" alt="{{i.productdetails2.name}}">
              </a>
              <div class="card-body py-2">
                <h3 class="product-title fs-sm"><a href="/productdetails/{{i.productdetails2.id}}">{{i.productdetails2.name}}</a></h3>
                <div class="product-price">
                  <span class="text-accent">₹{{i.productdetails2.price_save}}</span>
                  <!-- <del class="fs-sm text-muted">$20.<small>00</small></del> -->
                </div>
              </div>
            </div>
          </div>
          <div class="d-none d-md-block col-md-1 text-center">
            <div class="display-4 fw-light text-muted px-4">=</div>
          </div>
          <div class="col-md-4 pt-3 pt-md-0">
            <div class="bg-secondary p-4 rounded-3 text-center mx-auto" style="max-width: 20rem;">
              <!-- <div class="h3 fw-normal text-accent mb-3 me-1">$140.<small>99</small></div> -->
              <div class="product-price">
                <span class="text-accent h3 fw-normal text-accent mb-3 me-1">₹{{i.discout_price}}</span>
                <del class="fs-sm text-muted">₹{{i.total_price}}</small></del>
                <span class="d-inline-block bg-danger fs-ms text-white rounded-1 py-1 px-2 mb-3">-{{i.discout}}%</span>
              </div>
              <a class="btn btn-primary" herf="button">Purchase together</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock content2 %}
{% block js %}
<script src="{{vendor}}/lightgallery.js/dist/js/lightgallery.min.js"></script>
<script src="{{vendor}}/lg-video.js/dist/lg-video.min.js"></script>
{% endblock js %}