{% extends 'main/TKD.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" media="screen" href="{{vendor}}/nouislider/dist/nouislider.min.css"/>
{% endblock css %}
{% block content2 %}
<div class="page-title-overlap bg-dark pt-3">
</div>
<div class="container pb-5 mb-2 mb-md-4 mt-n6">
  <div class="row">
    <aside class="col-lg-4">
      <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow py-1" id="shop-sidebar">
        <div class="offcanvas-header align-items-center shadow">
          <h2 class="h5 mb-0">Filters</h2>
          <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-regular fa-xmark fa-fw"></i></button>
        </div>
        <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
          <div class="widget widget-links widget-filter widget-categories mb-4 pb-4 border-bottom">
            <h3 class="widget-title">Categories</h3>
            <div class="input-group input-group-sm mb-2">
              <input class="widget-filter-search form-control rounded-end" type="text" placeholder="Search"><i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
            </div>
            <ul class="widget-list widget-filter-list pt-1" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                {% for key, values in userdeatails.productlist.items %}
                <li class="widget-list-item widget-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" href="/search/{{key}}/1/0/all"><span class="widget-filter-item-text">{{values}}</span><span class="fs-xs text-muted ms-3">23</span></a></li>
                {% endfor %}
            </ul>
          </div>
          <div class="widget mb-4 pb-4 border-bottom">
            <h3 class="widget-title">Price</h3>
            <div class="range-slider" data-start-min="250" data-start-max="680" data-min="0" data-max="1000" data-step="1">
              <div class="range-slider-ui"></div>
              <div class="d-flex pb-1">
                <div class="w-50 pe-2 me-2">
                  <div class="input-group input-group-sm"><span class="input-group-text">₹</span>
                    <input class="form-control range-slider-value-min" type="text">
                  </div>
                </div>
                <div class="w-50 ps-2">
                  <div class="input-group input-group-sm"><span class="input-group-text">₹</span>
                    <input class="form-control range-slider-value-max" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="widget widget-filter mb-4 pb-4 border-bottom">
            <h3 class="widget-title">Brand</h3>
            <div class="input-group input-group-sm mb-2">
              <input class="widget-filter-search form-control rounded-end pe-5" type="text" placeholder="Search"><i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
            </div>
            <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="adidas">
                  <label class="form-check-label widget-filter-item-text" for="adidas">Adidas</label>
                </div><span class="fs-xs text-muted">425</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="ataylor">
                  <label class="form-check-label widget-filter-item-text" for="ataylor">Ann Taylor</label>
                </div><span class="fs-xs text-muted">15</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="armani">
                  <label class="form-check-label widget-filter-item-text" for="armani">Armani</label>
                </div><span class="fs-xs text-muted">18</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="banana">
                  <label class="form-check-label widget-filter-item-text" for="banana">Banana Republic</label>
                </div><span class="fs-xs text-muted">103</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="bilabong">
                  <label class="form-check-label widget-filter-item-text" for="bilabong">Bilabong</label>
                </div><span class="fs-xs text-muted">27</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="birkenstock">
                  <label class="form-check-label widget-filter-item-text" for="birkenstock">Birkenstock</label>
                </div><span class="fs-xs text-muted">10</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="klein">
                  <label class="form-check-label widget-filter-item-text" for="klein">Calvin Klein</label>
                </div><span class="fs-xs text-muted">365</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="columbia">
                  <label class="form-check-label widget-filter-item-text" for="columbia">Columbia</label>
                </div><span class="fs-xs text-muted">508</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="converse">
                  <label class="form-check-label widget-filter-item-text" for="converse">Converse</label>
                </div><span class="fs-xs text-muted">176</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="dockers">
                  <label class="form-check-label widget-filter-item-text" for="dockers">Dockers</label>
                </div><span class="fs-xs text-muted">54</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="fruit">
                  <label class="form-check-label widget-filter-item-text" for="fruit">Fruit of the Loom</label>
                </div><span class="fs-xs text-muted">739</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="hanes">
                  <label class="form-check-label widget-filter-item-text" for="hanes">Hanes</label>
                </div><span class="fs-xs text-muted">92</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="choo">
                  <label class="form-check-label widget-filter-item-text" for="choo">Jimmy Choo</label>
                </div><span class="fs-xs text-muted">17</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="levis">
                  <label class="form-check-label widget-filter-item-text" for="levis">Levi's</label>
                </div><span class="fs-xs text-muted">361</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="lee">
                  <label class="form-check-label widget-filter-item-text" for="lee">Lee</label>
                </div><span class="fs-xs text-muted">264</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="wearhouse">
                  <label class="form-check-label widget-filter-item-text" for="wearhouse">Men's Wearhouse</label>
                </div><span class="fs-xs text-muted">75</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="newbalance">
                  <label class="form-check-label widget-filter-item-text" for="newbalance">New Balance</label>
                </div><span class="fs-xs text-muted">218</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="nike">
                  <label class="form-check-label widget-filter-item-text" for="nike">Nike</label>
                </div><span class="fs-xs text-muted">810</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="navy">
                  <label class="form-check-label widget-filter-item-text" for="navy">Old Navy</label>
                </div><span class="fs-xs text-muted">147</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="polo">
                  <label class="form-check-label widget-filter-item-text" for="polo">Polo Ralph Lauren</label>
                </div><span class="fs-xs text-muted">64</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="puma">
                  <label class="form-check-label widget-filter-item-text" for="puma">Puma</label>
                </div><span class="fs-xs text-muted">370</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="reebok">
                  <label class="form-check-label widget-filter-item-text" for="reebok">Reebok</label>
                </div><span class="fs-xs text-muted">506</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="skechers">
                  <label class="form-check-label widget-filter-item-text" for="skechers">Skechers</label>
                </div><span class="fs-xs text-muted">209</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="hilfiger">
                  <label class="form-check-label widget-filter-item-text" for="hilfiger">Tommy Hilfiger</label>
                </div><span class="fs-xs text-muted">487</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="armour">
                  <label class="form-check-label widget-filter-item-text" for="armour">Under Armour</label>
                </div><span class="fs-xs text-muted">90</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="urban">
                  <label class="form-check-label widget-filter-item-text" for="urban">Urban Outfitters</label>
                </div><span class="fs-xs text-muted">152</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="vsecret">
                  <label class="form-check-label widget-filter-item-text" for="vsecret">Victoria's Secret</label>
                </div><span class="fs-xs text-muted">238</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="wolverine">
                  <label class="form-check-label widget-filter-item-text" for="wolverine">Wolverine</label>
                </div><span class="fs-xs text-muted">29</span>
              </li>
              <li class="widget-filter-item d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="wrangler">
                  <label class="form-check-label widget-filter-item-text" for="wrangler">Wrangler</label>
                </div><span class="fs-xs text-muted">115</span>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </aside>
    <section class="col-lg-8">
      <div class="d-flex align-items-center flex-column flex-md-row pb-1">
        <div class="d-flex align-items-center mb-2 me-md-2">
          <label class="text-light fs-sm opacity-75 text-nowrap me-2" for="sorting">Sort by:</label>
          <select class="form-select" id="sorting">
            <option>Popularity</option>
            <option>Low - Hight Price</option>
            <option>High - Low Price</option>
            <option>Average Rating</option>
            <option>A - Z Order</option>
            <option>Z - A Order</option>
          </select>
        </div>
        <span class="fs-sm text-light opacity-75 text-nowrap ms-2">{{userdeatails.Requirements.searchproductlistpre}}-{{userdeatails.Requirements.searchproductlistnex}} of over {{userdeatails.Requirements.searchproductlistno}} results for " {{userdeatails.Requirements.row2}} "</span>
      </div>
      {% if userdeatails.Requirements.searchproductlistno != 0 %}
      {% for i in userdeatails.Requirements.searchproductlist %}
      <div class="d-sm-flex justify-content-between p-3 bg-white rounded-3 shadow mb-2">
          <div class="d-sm-flex text-center text-sm-start">
              <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="/productdetails/{{i.id}}" target="_blank">
                <img src="/tkdproduct/{{i.image}}" width="160" alt="{{i.name}}">
              </a>
              <div class="d-flex flex-column justify-content-around">              
                <a class="product-meta d-block fs-xs pb-1" href="#">{{i.brand}}</a>
                <h3 class="product-title fs-sm"><a href="/productdetails/{{i.id}}">{{i.name}}</a></h3>
                <!-- <div class=""> -->
                  <div class="product-price d-flex d-sm-block justify-content-center align-items-center">
                    <span class="text-accent me-2">₹{{i.price_save}}</span>
                    <del class="fs-sm text-muted">₹{{i.price}}</del>
                  <!-- </div> -->
                </div>
                <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                </div>
              </div>
          </div>
          <div class="d-flex flex-sm-column justify-content-sm-around justify-content-around">
              <a href="/useraddtocart/{{i.id}}/{{userdeatails.id}}" class="btn btn-success btn-sm"><i class="fa-light fa-cart-circle-arrow-down fa-fw me-1"></i><span class="d-none d-sm-inline">Add to Cart</span><span class="d-inline d-sm-none">Cart</span></a>
              <a href="/productdetails/{{i.id}}" class="btn btn-secondary btn-sm"><i class="ci-eye mt-sm-0 me-1"></i><span class="d-none d-sm-inline">View details</span><span class="d-inline d-sm-none">details</span></a>
          </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="empty-state p-3 bg-white rounded-3 shadow mb-2">
        <div class="empty-state__content">
          <div class="empty-state__icon">
            <img src="/static/img/giphy.webp" alt="">
          </div>
          <div class="empty-state__message">Nothing Found</div>
          <div class="empty-state__help">Sorry, but nothing matched your search of <strong>{{userdeatails.Requirements.row2}}</strong>.Please try again with some different keywords.</div>
        </div>
      </div>
      {% endif %}
      {% if userdeatails.Requirements.searchproductlistpagenolistno != 1 %}
      <nav class="d-flex justify-content-between shadow p-3 rounded-3 mb-2 shadow" aria-label="Page navigation">
        <ul class="pagination">
          {% if userdeatails.Requirements.searchproductlistpreno == 0 %}
          <li class="page-item"><a class="page-link" href="javascript:void(0)" style="cursor: not-allowed;"><i class="ci-arrow-left me-2"></i>Prev</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="/search/{{userdeatails.Requirements.row}}/{{userdeatails.Requirements.searchproductlistpreno}}/{{userdeatails.Requirements.row3}}/{{userdeatails.Requirements.row2}}"><i class="ci-arrow-left me-2"></i>Prev</a></li>
          {% endif %}
        </ul>
        <ul class="pagination">
          <li class="page-item d-sm-none"><span class="page-link page-link-static">{{userdeatails.Requirements.row1}} / {{userdeatails.Requirements.searchproductlistpageno}}</span></li>             
          {% for i in userdeatails.Requirements.searchproductlistpagenolist %}
            {% if userdeatails.Requirements.row1 == i %}
            <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">{{i}}<span class="visually-hidden">(current)</span></span></li>
            {% else %}
            <li class="page-item d-none d-sm-block"><a class="page-link" href="/search/{{userdeatails.Requirements.row}}/{{i}}/{{userdeatails.Requirements.row3}}/{{userdeatails.Requirements.row2}}">{{i}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="pagination">
          {% if userdeatails.Requirements.searchproductlistnexno == 0 %}
          <li class="page-item"><a class="page-link" href="javascript:void(0)" style="cursor: not-allowed;">Next<i class="ci-arrow-right ms-2"></i></a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="/search/{{userdeatails.Requirements.row}}/{{userdeatails.Requirements.searchproductlistnexno}}/{{userdeatails.Requirements.row3}}/{{userdeatails.Requirements.row2}}">Next<i class="ci-arrow-right ms-2"></i></a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      <div class="py-sm-2">
        <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden mb-4 rounded-3 shadow">
          <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
            <h4 class="fs-lg fw-light mb-2">Converse All Star</h4>
            <h3 class="mb-4">Make Your Day Comfortable</h3><a class="btn btn-primary btn-shadow btn-sm" href="#">Shop Now</a>
          </div><img class="d-block ms-auto" src="{{img}}/shop/catalog/banner.jpg" alt="Shop Converse">
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content2 %}
{% block js %}
<script src="{{vendor}}/nouislider/dist/nouislider.min.js"></script>
{% if userdeatails.Requirements.row2 != 'all' %}
<script>$('input[name="searchinput"]').val('{{userdeatails.Requirements.row2}}');</script>
{% endif %}
{% endblock js %}
{% block contentfooter %}
<a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#shop-sidebar"><span class="handheld-toolbar-icon"><i class="ci-filter-alt"></i></span><span class="handheld-toolbar-label">Filters</span></a>
{% endblock contentfooter %}