{% extends 'main/TKDshopbuy.html' %}
{% load static %}
{% block contentaddpayre %}
<!-- <div class="tkdheading w-100 my-3 d-flex"><span class="m-auto w-auto bg-white border rounded-3 shadow py-2 px-3">Choose payment method</span></div> -->
<form class="form needs-validation lenghtform" action="/usershopcartsettings/{{i.id}}/1" method="POST" novalidate id="addaddressform">
{% csrf_token %}
<div class="d-flex flex-wrap tkdradios">
  {% for i in userdeatails.Requirements.paymentlist %}
  <label class="tkdradio" for="basic{{i.id}}">
    {% if userdeatails.Requirements.paymentoptionid == 0 %}
      {% if i.userpaymentprimary %}
      <input type="radio" name="tkdpaymentoption" id="basic{{i.id}}" value="basic{{i.id}}" checked>
      {% else %}
      <input type="radio" name="tkdpaymentoption" id="basic{{i.id}}" value="basic{{i.id}}">
      {% endif %}
    {% else %}
      {% if userdeatails.Requirements.paymentoptionid == i.id %}
      <input type="radio" name="tkdpaymentoption" id="basic{{i.id}}" value="basic{{i.id}}" checked>
      {% else %}
      <input type="radio" name="tkdpaymentoption" id="basic{{i.id}}" value="basic{{i.id}}">
      {% endif %}
    {% endif %}
    <div class="card m-1 tkdradio-content bg-white border rounded-3 shadow">
      <div class="card-body tkdradio-details">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img src="{{img}}/paymentcard/{{i.usercardtype}}.png" width="64" alt="{{i.usercardtype}}">
          </div>
          <div class="ps-2">
            <h6 class="widget-product-title">{{i.usercardname}}</h6>
            <div class="widget-product-meta">
              <p class="text-accent m-0">{{i.usercardnumber_format}}</p>
            </div>
          </div>
        </div>
        <p class="fs-sm m-0 d-flex justify-content-between"><span>{{i.uusercardcvc_format}}</span><span>{{i.usercardmonth}}/{{i.usercardyear}}</span></p>
      </div>
      <div class="card-footer d-flex align-items-center">
        {% if i.userpaymentprimary %}
        <a class="badge rounded-pill bg-success">Default</a>
        {% else %}
        <a href="/adduseraddressprimary/{{i.userid}}/1/{{i.id}}" class="alert-link fs-xs">Set as Default</a>
        {% endif %}
        <div class="ms-auto text-nowrap">
          <a class="nav-link-style text-success" href="/editaddresslist/{{i.id}}" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a>
          <span class="blog-entry-meta-divider mx-2"></span>
          <a class="nav-link-style text-danger" href="/adduseraddressprimary/{{i.userid}}/2/{{i.id}}" data-bs-toggle="tooltip" title="Remove"><div class="ci-trash"></div></a>
        </div>
      </div>
    </div>
  </label>
  {% endfor %}
</div>
</form>
<a class="btn btn-outline-accent shadow d-block w-100 m-1 card" href="/paymentlist/2"><i class="fa-regular fa-circle-plus fa-fw fs-base me-2"></i>Add Payment Method</a>
{% endblock contentaddpayre %}